<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<!--    <title>Player's page</title>-->

<!--</head>-->
<!--<body>-->
<!--<h1>Modify chosen player</h1>-->

<!--<div>-->
<!--    <table class="table table-success table-striped">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">ID</th>-->
<!--            <th scope="col">Nickname</th>-->
<!--            <th scope="col">Player Class</th>-->
<!--            <th scope="col">Player Level</th>-->
<!--            <th scope="col">Edit Player</th>-->
<!--            <th scope="col">Delete Player</th>-->


<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--            <td th:text="${user.getId()}"/>-->
<!--            <td th:text="${user.getNickName()}"/>-->
<!--            <td th:text="${user.getPlayerClass()}"/>-->
<!--            <td th:text="${user.getPlayerLevel()}"/>-->
<!--            <td>-->
<!--                <a th:href="@{/admin/{id}/edit (id=${user.getId()})}">-->
<!--                    <input type="button" value="Edit">-->
<!--                </a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">-->
<!--                    <input type="submit" value="Delete">-->
<!--                </form>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

<!--<div th:align="center">-->
<!--    <br>-->
<!--    <br>-->
<!--    <a th:href="@{/admin}">-->
<!--        <h6>Return to main page</h6>-->
<!--    </a>-->
<!--</div>-->

<!--<div th:align="center">-->
<!--    <br>-->
<!--    <br>-->
<!--    <a th:href="@{/logout}">-->
<!--        <h8>Logout</h8>-->
<!--    </a>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->