<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>All players of the party</title>
</head>

<body>
<!-- header string -->
<ul class="nav bg-dark  ">
  <li class="nav-item ">
    <a class="nav-link active text-light"
       th:text="|${title.getNickName()} with roles: ${title.getRoles()}|"></a>
  </li>

  <li class="nav-item navbar-nav ml-auto pr-3 ">
    <a class="nav-link text-secondary" href="/logout">logout</a>
  </li>
</ul>
<div class="row">

  <div class="col-2 mt-3 ">
    <ul class="nav nav-pills nav-fill flex-column ">
      <li class="nav-item  ">
        <a class="nav-link active text-left pl-3" href="#admin" data-toggle="pill">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left pl-3" href="#user" data-toggle="pill">User</a>
      </li>
    </ul>
  </div>

  <div class="col">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="admin">
        <div class="container ml-0 "> <!-- begin of container -->

          <div class="row mt-3 m-0">
            <h3>Game Master's sheet</h3>
          </div>

          <ul class="nav nav-tabs">
            <li >
              <a class="nav-link active" href="#admin_panel" data-toggle="tab">Users table</a>
            </li>
            <li >
              <a class="nav-link" href="#new_user" data-toggle="tab">New user</a>
            </li>
          </ul>

          <div class="tab-content"> <!-- begin of tab-content -->
            <div class="tab-pane active" id="admin_panel">
              <ul class="list-group">
                <li class="list-group-item"><strong>All your players</strong></li>
              </ul>

              <div class="container border">
                <table class="table w-85 mx-auto table-striped">
                  <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">Player Class</th>
                    <th scope="col">Player Level</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Player Password</th>
                    <th scope="col">Player ROLES</th>

                    <th scope="col">Edit info</th>
                    <th scope="col">Delete player</th>


                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="user : ${usersList}">
                    <td th:text="${user.getId()}"/>
                    <td th:text="${user.getNickName()}"/>
                    <td th:text="${user.getPlayerClass()}"/>
                    <td th:text="${user.getPlayerLevel()}"/>
                    <td th:text="${user.getEmail()}"/>
                    <td th:text="${user.getPassword()}"/>

                    <td>
                      <th:block th:each="role : ${user.roles}">
                        <span th:text="${role.getNoPrefix()}"></span>
                      </th:block>
                    </td>


                    <td>
                      <button class="btn btn-info"  data-toggle="modal" th:href="${'#edit'+user.id}">edit</button>
                    </td>
                    <td>
                      <button  class="btn btn-danger" data-toggle="modal" th:href="${'#delete'+user.id}">Delete</button>
                    </td>

                    <!-- modal edit -->
                    <div class="modal fade" th:id="${'edit'+ user.id}" tabindex="-1" aria-hidden="true">
                      <form th:action="@{/admin/{id}(id=${user.id})}" th:method="patch">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalEdit">Modify Player</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="container-fluid">
                                <div class="form-group  mt-1">
                                  <label for="formGroupExampleId" class="d-flex justify-content-center mb-0 font-weight-bold">ID</label>
                                  <input type="text" class="form-control form-control-sm w-50 mx-auto" id="formGroupExampleId" th:name="id" th:value="${user.getId()}" placeholder="Id" disabled>
                                </div>
                                <div class="form-group mt-3">
                                  <label for="formGroupExampleFirstname" class="d-flex justify-content-center mb-0 font-weight-bold">Nickname</label>
                                  <input type="text" class="form-control form-control-sm w-50 mx-auto" id="formGroupExampleFirstname" th:name="Nickname" th:value="${user.getNickName()}" placeholder="Nickname">
                                </div>
                                <div class="form-group">
                                  <label for="formGroupExampleSurname" class="d-flex justify-content-center mb-0 font-weight-bold">Player Class</label>
                                  <input type="text" class="form-control form-control-sm w-50 mx-auto" id="formGroupExampleSurname" th:name="PlayerClass" th:value="${user.getPlayerClass()}" placeholder="Player Class">
                                </div>
                                <div class="form-group">
                                  <label for="formGroupExampleAge" class="d-flex justify-content-center mb-0 font-weight-bold">Player Level</label>
                                  <input type="number" class="form-control form-control-sm w-50 mx-auto" id="formGroupExampleAge" th:name="PlayerLevel" th:value="${user.getPlayerLevel()}" placeholder="Player Level">
                                </div>
                                <div class="form-group">
                                  <label for="formGroupExampleEmail" class="d-flex justify-content-center mb-0 font-weight-bold">Email</label>
                                  <input type="text" class="form-control form-control-sm w-50 mx-auto" id="formGroupExampleEmail" th:name="email" th:value="${user.getEmail()}" placeholder="Email">
                                </div>
                                <div class="form-group">
                                  <label for="formGroupExamplePassword" class="d-flex justify-content-center mb-0 font-weight-bold">Password</label>
                                  <input type="text" class="form-control form-control-sm w-50 mx-auto" id="formGroupExamplePassword" th:name="password"  placeholder="Password">
                                </div>
                                <div class="form-group">
                                  <label  class="d-flex justify-content-center mb-0 font-weight-bold">Role</label>
                                  <select required class="form-control form-control-sm w-50 mx-auto"  th:name="roles"  size="2" >
                                    <option  th:each="role : ${roleList}"
                                             th:text="${role.getNoPrefix()}"
                                             th:value="${role.getId()}"
                                             th:selected="${user.getRoles().contains(role)}">
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit"  class="btn btn-primary">Modify</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!-- end of modal edit -->

                    <!-- modal delete -->
                    <div class="modal fade" th:id="${'delete'+user.id}" tabindex="-1" aria-hidden="true">
                      <form th:action="@{/admin/{id}(id=${user.getId()})}" th:method="delete" >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalDelete">Delete Player</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="container-fluid">
                                <div class="form-group  mt-1">
                                  <label for="formGroupExampleId2" class="d-flex justify-content-center mb-0 font-weight-bold">ID</label>
                                  <input type="text" class="form-control form-control-sm w-50 mx-auto" th:value="${user.getId()}"  id="formGroupExampleId2" placeholder="Id" disabled>
                                </div>
                                <div class="form-group mt-3">
                                  <label for="formGroupExampleUsername2" class="d-flex justify-content-center mb-0 font-weight-bold">Nickname</label>
                                  <input type="text" class="form-control form-control-sm w-50 mx-auto"  th:value="${user.getNickName()}" id="formGroupExampleUsername2" placeholder="Nickname" disabled>
                                </div>
                                <div class="form-group">
                                  <label for="formGroupExampleSurname2" class="d-flex justify-content-center mb-0 font-weight-bold">Player Class</label>
                                  <input type="text" class="form-control form-control-sm w-50 mx-auto"  th:value="${user.getPlayerClass()}" id="formGroupExampleSurname2" placeholder="Player Class" disabled>
                                </div>
                                <div class="form-group">
                                  <label for="formGroupExampleAge2" class="d-flex justify-content-center mb-0 font-weight-bold">Player Level</label>
                                  <input type="number" class="form-control form-control-sm w-50 mx-auto" th:value="${user.getPlayerLevel()}" id="formGroupExampleAge2" placeholder="Player Level" disabled>
                                </div>
                                <div class="form-group">
                                  <label for="formGroupExampleEmail2" class="d-flex justify-content-center mb-0 font-weight-bold">Email</label>
                                  <input type="text" class="form-control form-control-sm w-50 mx-auto"  th:value="${user.getEmail()}" id="formGroupExampleEmail2" placeholder="Email" disabled>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>

                    <!-- end of modal delete -->
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="tab-pane" id="new_user">   <!--  new_user    -->
              <ul class="list-group">
                <li class="list-group-item"><strong>Add new user</strong></li>
              </ul>

              <div class="container border ">
                <form th:action="@{/admin}" th:method="post" th:object="${newUser}">
                  <div class="form-group mt-3">
                    <label for="firstname" class="d-flex justify-content-center mb-0 font-weight-bold">Nickname</label>
                    <input type="text" class="form-control form-control-sm w-25 mx-auto" th:field="*{nickName}" id="firstname" placeholder="nickName" required>
                  </div>
                  <div class="form-group">
                    <label for="surname" class="d-flex justify-content-center mb-0 font-weight-bold">Player Class</label>
                    <input type="text" class="form-control form-control-sm w-25 mx-auto" th:field="*{playerClass}" id="surname" placeholder="Player Class" required>
                  </div>
                  <div class="form-group">
                    <label for="age" class="d-flex justify-content-center mb-0 font-weight-bold">Player Level</label>
                    <input type="text" class="form-control form-control-sm w-25 mx-auto" th:field="*{playerLevel}" id="age" placeholder="Player level" required>
                  </div>
                  <div class="form-group">
                    <label for="email" class="d-flex justify-content-center mb-0 font-weight-bold">Email</label>
                    <input type="text" class="form-control form-control-sm w-25 mx-auto" th:field="*{email}" id="email" placeholder="Email" required >
                  </div>
                  <div class="form-group">
                    <label for="password" class="d-flex justify-content-center mb-0 font-weight-bold">Password</label>
                    <input type="text" class="form-control form-control-sm w-25 mx-auto" id="password" th:field="*{password}" placeholder="Password" required>
                  </div>
                  <div class="form-group">
                    <label for="roles" class="d-flex justify-content-center mb-0 font-weight-bold">Role</label>
                    <select multiple class="form-control form-control-sm w-25 mx-auto" id="roles" th:field="*{roles}"  size="2" >
                      <option th:each="role : ${roleList}"
                              th:value="${role.getId()}"
                              th:text="${role.getNoPrefix()}">
                      </option>
                    </select>

                  </div>
                  <button type="submit" class="btn btn-success btn-lg d-flex mx-auto mb-4">Add new user</button>
                </form>
              </div>
            </div>   <!--  end of new_user    -->


          </div> <!-- end of tab-content -->

        </div> <!-- end of container -->
      </div>

      <div class="tab-pane fade show" id="user"> <!-- user panel -->
        <div class="container ml-0 ">
          <div class="row mt-3 m-0">
            <h3>User information-page</h3>
          </div>

          <ul class="list-group">
            <li class="list-group-item bg-light"><strong>About You</strong></li>
          </ul>

          <div class="container border pb-3">

            <div class="shadow-sm my-3  bg-light rounded"></div>

            <table class="table table-striped w-85 mx-auto ">
              <thead>
              <tr>
                <th>ID</th>
                <th>Nickname</th>
                <th>Your Class</th>
                <th>Your Level</th>
                <th>Email</th>
                <th>Your Roles</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td th:text="${title.getId()}"></td>
                <td th:text="${title.getNickName()}"></td>
                <td th:text="${title.getPlayerClass()}"></td>
                <td th:text="${title.getPlayerLevel()}"></td>
                <td th:text="${title.getEmail()}"></td>
                <td>
                  <th:block th:each="role : ${title.roles}">
                    <span th:text="${role.getNoPrefix()}"></span>
                  </th:block>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div> <!-- end of user panel -->

    </div>




  </div> <!-- end of col -->

</div> <!-- end of row -->



<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">

</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">

</script>

</body>
</html>